input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  width: 250px;
  margin-bottom: 20px;
  padding: 0 0 10px 5px;
}

input::placeholder {
  font-size: 10px;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.submit-btn {
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  font-weight: lighter;
  width: 90px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
}

.submit-btn:hover {
  background-color: white;
  color: #34A390;
}
