.admin-top {
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom right, white, #ff9800);
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-forum-body {
  max-width: 1000px;
  height: auto;
  margin: 50px auto 50px auto;
}

.admin-question-container {
  margin: auto;
}

.category-button-color button {
  height: 50px;
  width: 110px;
  list-style: none;
  border-radius: 5px;
  background-color: white;
  font-size: 15px;
  color: #ff9800;
  box-shadow: 2px 2px 10px #BFBFBF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-button-color button:hover {
  background-color: orange;
  color: white;
}

.admin-question-container li {
  color: orange;
}

.admin-question-container .thread-form {
  background: orange;
}
