.accordion-list li {
  height: 50px;
  margin-bottom: 10px;
  list-style: none;
  background: white;
  border-radius: 5px;
  font-size: 15px;
  color: #34A390;
  padding-left: 15px;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 10px #BFBFBF;
}

.accordion-list li:hover {
  position: relative;
  top: -2px;
}

.accordion-list {
  margin: 0;
  padding: 0;
}

.thread-container {
  height: auto;
  background: white;
  border-radius: 5px;
  font-size: 15px;
  color: #34A390;
  box-shadow: 2px 2px 10px #BFBFBF;
  padding-right: 20px;
}

.adminResponse .date-field {
  background: orange;
  opacity: 0.6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.date-field {
  height: auto;
  padding-top: 25px;
  font-size: 12px;
  padding-left: 15px;
  background: #34A390;
  opacity: 0.6;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.text-field {
  height: auto;
  margin: 30px 0 30px 0;
  padding-left: 15px;
}

.sender-field {
  height: auto;
  padding-bottom: 25px;
  font-size: 12px;
  font-style: italic;
  padding-left: 15px;
}

.closed {
  display: none;
}

.open {
  display: block;
}
